#one-time-donate {
    background-color: #ffcc00;
    font-weight: 600;
    cursor: auto;
}

#regular-donate {
    background-color: #d9d9d9;
}

#individual-donate {
    background-color: #d9d9d9;
}

#legal-donate {
    background-color: #ffcc00;
    font-weight: 600;
    cursor: auto;
}